@import "../../index";
//RIGHT MENU

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.rightMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  width: $base*77;
  height: 100vh;
  right: 0px;
  top: 0px;

  background: $light-white;
  box-shadow: $box-shadow-strong;
}

.rightCards {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

.sneakerRightCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  width: 65*$base;
  height: 24*$base;
  border: $border;
  border-radius: 20px;

  .sneakerRightImg {
    width: 14*$base;
    height: 14*$base;
    margin: 4*$base;
  }

  .sneakerRightText {
    width: 30*$base;

    h5 {
      font-weight: 400;
      margin: 0 0 8px 0;
    }

    h5,
    b {
      font-size: 13px;
    }
  }
}

.rightTotal {
  display: flex;
  flex-direction: column;
  margin: 30px;

  .greenBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 325px;
    height: 55px;
    background-color: $light-green;
    border-radius: 20px;
    color: $light-white;
    font-weight: 600;
    font-size: 15px;
    border: none;

    &:hover {
      background: lighten($light-green, 5%);
      transition: 0.2s ease-in-out;

      img {
        transform: translateX(5px);
        transition: transform 0.2s ease-in-out;
      }
    }

    &:active {
      background: darken($light-green, 10%);
      transition: 0.2s ease-in-out;
    }
  }

  img {
    width: 15px;
  }
}

.dottes {
  border-bottom: 1px dashed #DFDFDF;
  width: 60%;
  align-self: bottom;
  position: relative;
  bottom: -4px;
  margin: 0 $base;
}

.totalText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 20px;
  font-size: 16px;

  h5 {
    font-weight: 400;

  }
}