@import "../../index.scss";

.emojiImg {
  width: 70px;
  height: 70px;
}
.emptyParagraph {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  color: grey;
  width: 150px;
}