// VARIABLES:
$light-blue: #E7F6FF;
$light-white: #FFFFFF;
$light-green: #9DD458;
$border: 1px solid #EAEAEA;
$box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
$box-shadow-strong: -10px 4px 24px rgba(0, 0, 0, 0.1);
$base: 5px;

//GENERAL:

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $light-blue;
}

* {
  font-family: 'Inter', system-ui;
}

.wrapper {
  background: $light-white;
  box-shadow: $box-shadow;
  border-radius: 4 * $base;
  max-width: 230 * $base;
  margin: 10*$base auto;
}

button {
  img {
    width: 2*$base;
    height: 2*$base;
  }

  background-color: $light-white;
  border: $border;
  box-sizing: border-box;
  border-radius: 1.6*$base;
  height: 6.4*$base;
  width: 6.4*$base;
  cursor: pointer;

}

.close-btn {
  opacity: 0.8;

  &:hover {
    opacity: 1;
    transition: 0.2s;
    box-shadow: $box-shadow;
  }
}

//CONTENT WITH CARDS:
.content {
  h1 {
    margin: 0;
  }

  button {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

//SEARCH

.search-block {
  border: $border;
  border-radius: 10px;
  padding: 2*$base 3*$base;
}

input {
  all: unset;
}


